@model DataRowCollection

@{
    Layout = "_CaiFan";
}

<style>
    body {
        background: url('@(Url.Content("~/BG 3.jpg"))') no-repeat center center fixed;
        background-size: cover;
        font-size: small;
    }
</style>

@if (TempData["Message"] != null)
{
    <div class="alert alert-@TempData["MsgType"]">
        @TempData["Message"]
    </div>
}

<div class="container" style="background-color: white; border-radius: 12px;">
    <div class="row p-3">
        <h1 class="text-center mb-2">Menu</h1>
        <div style="text-align:center">
        </div>
        <table id=jsMenu class="table table-bordered table-condensed table-hover table-striped">
            <thead>
                <tr>
                    <th>Dish</th>
                    <th>Name</th>
                    <th>Type</th>
                    <th>Lowest Price</th>
                    <th>Highest Price</th>
                    <th>Average Price</th>
                    <th>Nutrient Name</th>
                    <th>Nutritional Value</th>
                </tr>
            </thead>
            @foreach (DataRow row in Model)
            {
                <tr>
                    <td><img src="/Menu/@row["ImageData"]" width="100" /></td>
                    <td>@row["FoodName"]</td>
                    <td>@row["FoodType"]</td>
                    <td>@row["LowestPrice"]</td>
                    <td>@row["HighestPrice"]</td>
                    <td>@row["AveragePrice"]</td>
                    <td>@row["NutrientName"]</td>
                    <td>@row["NutritionalValue"]</td>
                </tr>
            }
            </table>
        </div>
</div>
