<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.2.0/css/bootstrap.min.css" />
    <link href="~/css/profile.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.1/css/dataTables.bootstrap5.min.css" />
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.1/js/dataTables.bootstrap5.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#jsHistory').DataTable({
                ordering: true,
                paging: true,
                searching: true,
                info: true,
                lengthChange: true,
                pageLength: 10
            });
        });
    </script>
</head>


@model List<UserHistory>

@{
    Layout = "_CaiFan";
}

<style>
    body {
        background: url('@(Url.Content("~/BG 1.jpg"))') no-repeat center center fixed;
        background-size: cover;
        font-size: small;
    }
</style>

@if (TempData["Message"] != null)
{
    <div class="alert alert-@TempData["MsgType"]">
        @TempData["Message"]
    </div>
}

<div @*class="container" *@ style="background-color: white; radius-border: 10px;">
    <div class="row p-2">
        @* <h2 class="text-center mb-2">View History</h2> *@
        <h2 class="text-center">
            <b>
                View History
            </b>
        </h2>
        <div style="text-align:center">
        </div>
        <table id=jsHistory class="table table-bordered table-condensed table-hover table-striped">
            <thead>
                <tr>
                    @*<th>User</th>*@
                    <th>No</th>
                    <th>White rice</th>
                    <th>Crispy Meat With Sauce</th>
                    <th>Crispy Meat</th>
                    <th>Braised Meat</th>
                    <th>Non-Leafy Vege</th>
                    <th>Leafy Vege</th>
                    <th>White Fish</th>
                    <th>Batang Fish</th>
                    <th>Steamed Egg</th>
                    <th>Boiled Egg</th>
                    <th>Omellete</th>
                </tr>
            </thead>
            @foreach (DataRow row in Model)
            {
                var image1 = @row["WhiteRice"].Equals("Yes") ? "tick.png": "cross.jpg";
                var image2 = @row["BrownRice"].Equals("Yes") ? "tick.png": "cross.jpg";
                var image3 = @row["CrispyMeatWSauce"].Equals("Yes") ? "tick.png": "cross.jpg";
                var image4 = @row["CrispyMeat"].Equals("Yes") ? "tick.png" : "cross.jpg";
                var image5 = @row["BraisedMeat"].Equals("Yes") ? "tick.png": "cross.jpg";
                var image6 = @row["NonLeafy"].Equals("Yes") ? "tick.png": "cross.jpg";
                var image7 = @row["Leafy"].Equals("Yes") ? "tick.png": "cross.jpg";
                var image8 = @row["WhiteFish"].Equals("Yes") ? "tick.png" : "cross.jpg";
                var image9 = @row["BatangFish"].Equals("Yes") ? "tick.png" : "cross.jpg";
                var image10 = @row["SteamedEgg"].Equals("Yes") ? "tick.png": "cross.jpg";
                var image11 = @row["BoiledEgg"].Equals("Yes") ? "tick.png" : "cross.jpg";
                var image12 = @row["Omellete"].Equals("Yes") ? "tick.png": "cross.jpg";

                    <tr>
                        @*<td>@user.UserId</td>*@
                        <td>@user.Id</td>
                        <td><img src="/@image1" width="15" /></td>
                        <td><img src="/@image2" width="15" /></td>
                        <td><img src="/@image3" width="15" /></td>
                        <td><img src="/@image4" width="15" /></td>
                        <td><img src="/@image5" width="15" /></td>
                        <td><img src="/@image6" width="15" /></td>
                        <td><img src="/@image7" width="15" /></td>
                        <td><img src="/@image8" width="15" /></td>
                        <td><img src="/@image9" width="15" /></td>
                        <td><img src="/@image10" width="15" /></td>
                        <td><img src="/@image11" width="15" /></td>
                        <td><img src="/@image12" width="15" /></td>
                        <td>@user.MinimumCalories</td>
                        <td>@user.MaximumCalories</td>
                        <td><img src="/UserHistory/@user.Image" width="70" height="70" /></td>
                    </tr>
                }
        </table>
    </div>
</div>

      